.img_formula{
    background:url('Image/task1.jpg');
    height: 100%;
    max-width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
}