<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Лабораторна робота №1</ion-title>
  </ion-toolbar>
   <ion-toolbar>
    <ion-title>Виконав студент групи КН-32 Книш Дмитро</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Завдання 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Завдання 1"></app-explore-container>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>На заданому проміжку чисел [a,b] знайдіть добуток чисел, кратних 6..</p>
      <ion-item>
        <ion-label position="floating">Перше число</ion-label>
        <ion-input type="number" id="a" value="1" #Inputa></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Друге число</ion-label>
        <ion-input type="number" id="b" value="2" #Inputb></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="ras(Inputa.value, Inputb.value)">Розрахунок</ion-button>
    </ion-card-content>
    <ion-item>
      <p>Результат: {{c}}</p>
    </ion-item>>
  </ion-card>
  
</ion-content>
